<style>
.dupan {
border: 3px #1780dd Dashed;
padding: 10px;
background-color:#ffffff;
text-align: center; }
.pahe {
text-align: center; }

.dupan2 {
width:100%;
height:90px;
background:#5bc0de;
font-size:50px;
text-align:center;
color:white;
line-height:90px; }
</style>