<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dupan Code</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-router@3.5.3/dist/vue-router.min.js"></script>
  <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.min.js"></script>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
  <div id="app">
    <header class="flex justify-between w-full lg:h-35 relative">
      <section class="md:fixed bg-white md:shadow-lg lg:px-5 w-full-mx760 container">
        <section class="flex space-x-2 md:flex-col p-2" style="border-bottom: 1px solid #1ec47f;">
          <div class="w-full-mx760 flex items-center md:flex-col mobile-33">
            <transition name="slide" @before-leave="beforeLeave" @leave="leave">
              <div class="container-hiro slide-in">
                <div v-if="isMenuOpen" class="w-ful h-28 overflow-hidden rounded-lg ">
                  <img alt="profile" width="100" height="100" class="cover w-full mt-5 rounded-b-sm blur" :src="coverPp"
                    :class="{ loaded: elementLoaded }" @load="onLoad" />
                </div>
                <div class="ml-2 overflow-hidden rounded-full absolute top-5">
                  <img v-if="isMenuOpen" alt="profile" width="30" height="30" class="rounded-full profile blur"
                    :class="{ loaded: isMenuOpen }" @load="onLoad"
                    src="https://media.licdn.com/dms/image/D5603AQHAE83OmvspBA/profile-displayphoto-shrink_200_200/0/1667724513053?e=2147483647&v=beta&t=62r0inkFR8jRqGKqgtriYzhCW2j2keu_PS86i1mVLG4" />
                </div>
              </div>
            </transition>
            <a href="/">
              <h2 class="font-sora flex-grow whitespace-nowrap text-lg font-medium lg:text-xl lg:mt-8"
                :class="{ loaded: isMenuOpen }" @load="onLoad">
                Dupan Code
              </h2>
            </a>
          </div>
          <button @click="toggleMenu" class="lg:hidden focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="#05bd70e5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </section>

        <transition name="slide" @before-leave="beforeLeave" @leave="leave">
          <nav v-if="isMenuOpen" class="w-full slide-in mb-6 flex flex-col gap-3 pt-2">
            <ul>
              <li @click="toggleMenuList">
                <router-link class="flex items-center px-4 py-2" aria-label="Home" to="/">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20"
                    width="20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm9-8.586 6 6V15l.001 5H6v-9.586l6-6z">
                    </path>
                    <path
                      d="M12 18c3.703 0 4.901-3.539 4.95-3.689l-1.9-.621c-.008.023-.781 2.31-3.05 2.31-2.238 0-3.02-2.221-3.051-2.316l-1.899.627C7.099 14.461 8.297 18 12 18z">
                    </path>
                  </svg>
                  <span class="ml-2">Beranda</span>
                </router-link>
              </li>
              <li @click="toggleMenuList">
                <router-link class="flex items-center px-4 py-2" aria-label="About" to="/about">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20"
                    width="20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="m21.88 2.15-1.2.4a13.84 13.84 0 0 1-6.41.64 11.87 11.87 0 0 0-6.68.9A7.23 7.23 0 0 0 3.3 9.5a8.65 8.65 0 0 0 1.47 6.6c-.06.21-.12.42-.17.63A22.6 22.6 0 0 0 4 22h2a30.69 30.69 0 0 1 .59-4.32 9.25 9.25 0 0 0 4.52 1.11 11 11 0 0 0 4.28-.87C23 14.67 22 3.86 22 3.41zm-7.27 13.93c-2.61 1.11-5.73.92-7.48-.45a13.79 13.79 0 0 1 1.21-2.84A10.17 10.17 0 0 1 9.73 11a9 9 0 0 1 1.81-1.42A12 12 0 0 1 16 8V7a11.43 11.43 0 0 0-5.26 1.08 10.28 10.28 0 0 0-4.12 3.65 15.07 15.07 0 0 0-1 1.87 7 7 0 0 1-.38-3.73 5.24 5.24 0 0 1 3.14-4 8.93 8.93 0 0 1 3.82-.84c.62 0 1.23.06 1.87.11a16.2 16.2 0 0 0 6-.35C20 7.55 19.5 14 14.61 16.08z">
                    </path>
                  </svg>
                  <span class="ml-2">Tentang Saya</span>
                </router-link>
              </li>
              <li @click="toggleMenuList">
                <router-link class="flex items-center px-4 py-2" aria-label="Roadmap" to="/roadmap">
                  <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" x="3" y="3" rx="2"></rect>
                    <path d="M7 11v4a2 2 0 0 0 2 2h4"></path>
                    <rect width="8" height="8" x="13" y="13" rx="2"></rect>
                  </svg>
                  <span class="ml-2">Peta Perjalanan</span>
                </router-link>
              </li>
              <li @click="toggleMenuList">
                <router-link class="flex items-center px-4 py-2" aria-label="Blog" to="/blog">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20"
                    width="20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z">
                    </path>
                  </svg>
                  <span class="ml-2">Blog</span>
                </router-link>
              </li>
              <li @click="toggleMenuList">
                <router-link class="flex items-center px-4 py-2" aria-label="Contact" to="/contact">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20"
                    width="20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.56,3.34a1,1,0,0,0-1-.08l-17,8a1,1,0,0,0-.57.92,1,1,0,0,0,.6.9L8,15.45v6.72L13.84,18l4.76,2.08a.93.93,0,0,0,.4.09,1,1,0,0,0,.52-.15,1,1,0,0,0,.48-.79l1-15A1,1,0,0,0,20.56,3.34ZM18.1,17.68l-5.27-2.31L16,9.17,8.35,13.42,5.42,12.13,18.89,5.79Z">
                    </path>
                  </svg>
                  <span class="ml-2">Hubungi Saya</span>
                </router-link>
              </li>
            </ul>
          </nav>
        </transition>
      </section>
    </header>
    <main class="md:mt-16 px-3 mt-5 md:px-10 md:w-5/6" :class="{ main: isMenuOpen }">
      <transition name="home">
        <router-view></router-view>
      </transition>
    </main>
  </div>
  <footer>
    <h6>Copyright 2024 - 2025 All Rights Reserved | Powered by ❤️ github</h6>
  </footer>

  <script>
    function getData(path, data) {
      return new Promise((resolve, reject) => {
        axios.get(`https://raw.githubusercontent.com/dupandesdata/blog/refs/heads/master/${path}/${data}`)
          .then(response => {
            resolve({ responses: response.data, loading: true });
          })
          .catch(error => {
            reject({ responses: error, loading: true });
          });
      });
    }

    const Home = {
      data() {
        return {
          articles: [],
        };
      },
      created() {

        getData("assets", "post.json")
          .then(result => {
            this.articles = result.responses.articles.map((article) => ({
              ...article,
              slug:
                article.path +
                "/" +
                article.title
                  .toLowerCase()
                  .replace(/[^a-z0-9]+/g, "-")
                  .replace(/-+$/g, "")
            }));
            this.loading = result.loading;
          })
          .catch(error => {
            console.error("Error fetching data:", error);
          });
      },
      template: `
  <section>
    <div class="flex">
      <h2 class="text-center text-2xl">Hi, I'm</h2>
      <span class="text-2xl font-bold ml-1" id="typewriter">
        {{ $parent.currentText }}<span class="cursor"></span>
      </span>
    </div>
    <p class="mt-4 text-neutral-800 leading-7">
      Seorang insinyur pengembangan web dengan keahlian dalam <strong>front-end dan back-end development</strong>, khususnya dalam <strong>JavaScript dan Google Script</strong>. Terlepas dari keterbatasan motorik yang saya miliki sebagai individu difabel, saya tetap berkomitmen untuk menciptakan aplikasi web yang <strong>efisien, skalabel, dan mudah diakses</strong>. Saya percaya bahwa teknologi dapat membawa dampak positif bagi banyak orang, dan saya selalu berusaha menghadirkan solusi digital inovatif yang memberikan pengalaman pengguna yang luar biasa. Dengan semangat kolaborasi dan inovasi, saya terus belajar dan berkembang untuk menciptakan produk yang bermanfaat bagi semua.</p>
    <div class="flex items-center gap-1 text-xl font-medium text-neutral-800 mt-5">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20" width="20"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="m21.706 5.291-2.999-2.998A.996.996 0 0 0 18 2H6a.996.996 0 0 0-.707.293L2.294 5.291A.994.994 0 0 0 2 5.999V19c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5.999a.994.994 0 0 0-.294-.708zM6.414 4h11.172l.999.999H5.415L6.414 4zM4 19V6.999h16L20.002 19H4z">
        </path>
        <path d="M15 12H9v-2H7v4h10v-4h-2z"></path>
      </svg>
      <div class="capitalize">Daftar Project Open Source Saya</div>
    </div>
    <p class="mb-6 border-b border-dashed border-neutral-600 pb-6 pt-2 text-neutral-600">
      Menampilkan minat saya pada teknologi, desain, dan pemecahan masalah
      melalui kode.
    </p>
    <section class="card-projects flex flex-wrap justify-between">
      <div v-for="article in articles" :key="article.id" class="w-full lg:w-[45%] mb-6 relative">
        <div class="space-y-2 p-2">
          <router-link :to="{ name: 'project', params: { id: article.link } }">
            <h2 class="font-sora cursor-pointer text-lg text-neutral-900">
              {{ article.title }}
            </h2>
            <p class="text-sm leading-relaxed text-neutral-900">
              {{ article.content }}
            </p>
            <p class="text-xs leading-relaxed text-neutral-800">
              Development: {{ article.dev }} > Published: {{ article.published_date }}
            </p>
            <p class="text-xs leading-relaxed text-neutral-800">
              Teknologi: {{ article.tags.join(", ") }}
            </p>
          </router-link>
        </div>
      </div>
    </section>

  </section>
    `
    };
    const About = {
      template: `
<section>
<h1 class="font-sora text-2xl font-medium">Tentang Saya</h1>
<p class=" text-neutral-600">Cerita pendek tentang saya.</p>
<div class="my-4 border-t border-gray-300 dark:border-neutral-700 my-6"></div>
  <p class="mt-1">Nama saya <strong>Dupandes Milenium</strong>, lahir pada <strong>28 Desember 2000</strong>. Saya adalah seorang
    <strong>insinyur pengembangan web</strong> yang bersemangat, dengan keahlian dalam <strong>front-end dan back-end
      development</strong>. Sejak awal, saya terpesona oleh bagaimana teknologi dapat mengubah cara kita berinteraksi
    dengan informasi dan satu sama lain.</p>
  <p class="mt-1">Sebagai individu yang dikategorikan <strong>difabel</strong>, saya menghadapi tantangan motorik yang membuat
    pergerakan saya berbeda dari kebanyakan orang. Namun, hal ini tidak menghalangi saya untuk berkarya dan terus
    berkembang di dunia teknologi.</p>
  <p class="mt-1">Saya memiliki pengalaman luas dalam <strong>JavaScript dan Google Script</strong>, serta telah terlibat dalam
    berbagai proyek menantang yang mengasah keahlian saya. Bagi saya, kode yang baik tidak hanya harus berfungsi dengan
    optimal, tetapi juga harus memberikan pengalaman pengguna yang luar biasa.</p>
  <p class="mt-1">Saya percaya bahwa <strong>kolaborasi dan inovasi</strong> adalah kunci dalam menciptakan solusi digital yang
    efektif. Setiap proyek yang saya tangani bertujuan untuk menghadirkan aplikasi web yang <strong>efisien, skalabel,
      dan mudah digunakan</strong>. Saya selalu bersemangat untuk belajar dan mengembangkan solusi yang berdampak
    positif bagi banyak orang. Mari bersama-sama mewujudkan ide-ide kreatif yang bermanfaat!</p>
</section>
`
    };
    const Roadmap = {
      data() {
        return {
          sklis: [],
          openIndex: null, // Menyimpan index dropdown yang terbuka
        };
      },
      created() {
        axios
          .get(
            "https://raw.githubusercontent.com/dupandesdata/blog/refs/heads/master/assets/sklis.json"
          )
          .then((response) => {
            this.sklis = response.data.skils;
          })
          .catch((error) => {
            console.log(error);
          });
      },
      methods: {
        toggleDropdown(index) {
          this.openIndex = this.openIndex === index ? null : index;
        },
      },
      template: `
    <section class="skils">
      <h1 class="font-sora text-2xl font-medium">Peta Perjalanan Saya</h1>
      <p class="mb-6 border-b border-dashed border-neutral-600 pb-6 pt-2 text-neutral-600 dark:text-neutral-400">
        Berikut adalah jalur pembelajaran dan playlist saya.
      </p>

      <ul>
        <li v-for="(item, index) in sklis" :key="index" class="dropdown mt-5 p-3 rounded-lg"">
          <button @click="toggleDropdown(index)" class="w-full flex justify-between items-center w-full cursor-pointer">
            <div class="flex">
                <svg stroke-width="0" role="img" :viewBox="item.viewBox" :fill="item.color" height="100%" width="100%"
                  xmlns="http://www.w3.org/2000/svg">
                  <path :d="item.d"></path>
                </svg>
              <span class="ml-3">{{ item.title }}</span>
              </div>
            <i :class="{ 'fa-solid fa-chevron-up': openIndex === index, 'fa-solid fa-chevron-down' : openIndex !== index }" style="font-size: 18px; color: #3a3a3ad9;"></i>
          </button>
          <ul 
            class="dropdown-content flex mt-2" 
            :class="{ 'dropdown-open': openIndex === index, '': openIndex !== index }"
            aria-label="submenu">
            <li><a :href="item.videoLink" target="_blank" class="text-blue-500 hover:underline">Video</a></li>
            <li><a :href="item.documentLink" target="_blank" class="text-blue-500 hover:underline ml-3">Document</a></li>
          </ul>
        </li>
      </ul>
    </section>
  `,
    };
    const Blog = {
      template: `
            <div>
                <h1>Segera hadir..</h1>
            </div>
        `
    };
    const Contact = {
      template: `
  <section>
    <h1 class="font-sora text-2xl font-medium">Hubungi Saya</h1>
    <p class="mb-6 border-b border-dashed border-neutral-600 pb-6 pt-2 text-neutral-600"> Jika anda memiliki pertanyaan
      atau ingin membuat website & aplikasi. </p>
    <div class="form-container">
      <form @submit.prevent="sendMessage">
        <div class="form-group">
          <label for="full-name">Nama Lengkap</label>
          <input type="text" id="full-name" v-model="form.full_name" required>
        </div>

        <div class="form-group">
          <label for="email">Email/Nomor WhatsApp</label>
          <input type="text" id="email" v-model="form.email" required>
        </div>

        <div class="form-group">
          <textarea id="message" v-model="form.message" placeholder="Tulis pesan Anda.." required></textarea>
        </div>

        <button type="submit" class="submit-button">Kirim</button>
        <p v-if="statusMessage" :class="statusClass">{{ statusMessage }}</p>
      </form>
    </div>
  </section>
  `,
      data() {
        return {
          form: {
            id: "2812",
            full_name: "",
            email: "",
            message: ""
          },
          statusMessage: "",
          statusClass: ""
        };
      },
      methods: {
        async sendMessage() {
          try {
            const response = await axios.get("https://script.google.com/macros/s/AKfycbwObAgPKGY-VRtvYK5Bu_1xZF1mEWzWPVewDZU5sAE05jxJce4v6KfICsH6nJnDpysY/exec", {
              params: this.form
            });

            if (response.data.success === 1) {
              this.statusMessage = "Pesan berhasil dikirim!";
              this.statusClass = "success";
            } else {
              this.statusMessage = "Gagal mengirim pesan.";
              this.statusClass = "error";
            }

            // Reset form setelah sukses
            this.form.full_name = "";
            this.form.email = "";
            this.form.message = "";

          } catch (error) {
            console.error(error);
            this.statusMessage = "Gagal mengirim pesan. Coba lagi.";
            this.statusClass = "error";
          }
        }
      }
    };

    const Project = {
      template: ` 
  <section class="p-2">
    <div v-if="loading">Loading...</div>
    <section v-else>
      <div v-for="article in articles" :key="article.id" class="article">
        <div v-if="article.link === projectId" class="p-2 mb-2 breadcrumbs flex gap-2">
          <router-link to="/" class="text-blue-500">Back to Home</router-link> >
          <h1 class="font-sora">{{ article.title }}</h1> >
          <span class="font-sora">{{ article.published_date }}</span>
        </div>

        <section class="flex gap-4 mt-4 w-full project-button p-1">
          <div class="flex items-center gap-2 font-medium cursor-pointer p-2"
            :class="{ 'active-tab': tab === 'document' }" @click="tabClik('document')">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 20h9m-9-4h9m-9-4h9m-9-4h9M3 4h6v16H3z"></path>
            </svg>
            <span class="text-[15px]">Dokumentasi</span>
          </div>

          <div class="flex items-center gap-2 font-medium cursor-pointer p-2" :class="{ 'active-tab': tab === 'code' }"
            @click="tabClik('code')">
            <svg stroke="currentColor" fill="#111" stroke-width="0" viewBox="0 0 16 16" height="22" width="22"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
              </path>
            </svg>
            <span class="text-[15px]">Source Code</span>
          </div>
          <div class="flex items-center gap-2 font-medium cursor-pointer p-2" :class="{ 'active-tab': tab === 'demo' }"
            @click="tabClik('demo')">
            <i class="fa-solid fa-play" style="font-size: 14pt;"></i>
            <span class="text-[15px]">Demo</span>
          </div>
        </section>

        <div class="project-content" :class="{ 'active': tab === 'document' }" v-html="projectContent"></div>
        <div class="project-content mt-5" :class="{ 'active': tab === 'code' }">
          <div class="code-by">
            <span>Source Code by Dupandes Milenium</span>
          </div>
          <iframe height="300" style="width: 100%;" scrolling="no" :title="article.title"
            :src="'https://codepen.io/dupandesdata/embed/' + article.codepen + '?default-tab=html'" frameborder="no"
            allowtransparency="true" allowfullscreen="true">
          </iframe>
        </div>
        <div class="project-content mt-5" :class="{ 'active': tab === 'demo' }">
          <iframe :src="'https://dupandes2000.github.io/my-projects/' + projectId" frameborder="0"
            class="w-full h-screen"></iframe>
        </div>
      </div>
    </section>
  </section>
            `,
      data() {
        return {
          loading: true,
          projectContent: '',
          projectId: '',
          articles: [],
          tab: 'document',
          code: ''
        };
      },
      created() {
        this.projectId = this.$route.params.id;
        axios.get(`https://raw.githubusercontent.com/dupandes2000/my-projects/refs/heads/main/${this.projectId}/README.md`)
          .then(response => {
            this.projectContent = this.markdownToHtml(response.data)
          })
          .catch(error => {
            console.error("There was an error!", error);
          })
          .finally(() => {
            this.loading = false;
          });

        axios
          .get(
            "https://raw.githubusercontent.com/dupandesdata/blog/refs/heads/master/assets/post.json"
          )
          .then((response) => {
            this.articles = response.data.articles.map((article) => ({
              ...article,
              slug:
                article.path +
                "/" +
                article.title
                  .toLowerCase()
                  .replace(/[^a-z0-9]+/g, "-")
                  .replace(/-+$/g, "")
            }));
          })
          .catch((error) => {
            // handle error
            console.log(error);
          });
        axios.get(`https://raw.githubusercontent.com/dupandes2000/my-projects/refs/heads/main/${this.projectId}/index.html`)
          .then(response => {
            this.code = response.data;
          })
          .catch(error => {
            console.error("There was an error!", error);
          })
          .finally(() => {
            this.loading = false;
          });
      },
      methods: {
        tabClik(index) {
          this.tab = index
        },
        markdownToHtml(markdown) {
          // Convert Markdown to HTML as before
          markdown = markdown.replace(
            /###### (.+)/g,
            '<h6 class="text-base font-semibold">$1</h6>'
          );
          markdown = markdown.replace(
            /##### (.+)/g,
            '<h5 class="text-lg font-semibold">$1</h5>'
          );
          markdown = markdown.replace(
            /#### (.+)/g,
            '<h4 class="text-xl font-semibold">$1</h4>'
          );
          markdown = markdown.replace(
            /### (.+)/g,
            '<h3 class="text-2xl font-bold">$1</h3>'
          );
          markdown = markdown.replace(
            /## (.+)/g,
            '<h2 class="text-3xl font-bold">$1</h2>'
          );
          markdown = markdown.replace(/# (.+)/g, '<p class="font-semibold">$1</p>');

          // Handle code blocks
          markdown = markdown.replace(/```(.*?)\n([\s\S]*?)```/g, '<pre class="bg-gray-100 p-3 rounded"><code>$2</code></pre>');
          markdown = markdown.replace(/`([^`]+)`/g, '<code class="bg-gray-200 p-1 rounded">$1</code>');

          // Handle bold, italics, images, lists, and more
          markdown = markdown.replace(/\*\*(.+?)\*\*/g, "<strong>$1</strong>");
          markdown = markdown.replace(/\*(.+?)\*/g, "<em>$1</em>");
          markdown = markdown.replace(
            /!\[(.*?)\]\((.*?)\)/g,
            '<img src="$2" alt="$1" class="my-2 max-w-full h-auto">'
          );
          markdown = markdown.replace(/^\s*-\s+(.+)/gm, "<li>$1</li>");
          markdown = markdown.replace(/<\/li>\s*<li>/g, "</li><li>");
          markdown = markdown.replace(
            /<li>(.*?)<\/li>/g,
            '<ul class="list-disc ml-5"><li>$1</li></ul>'
          );
          markdown = markdown.replace(/---+/g, "<hr>");
          markdown = markdown
            .replace(/\n\n+/g, "</p><p class='text-gray-800 my-3'>")
            .replace(/\n/g, "<br>");
          markdown = '<p class="text-gray-800 my-3">' + markdown + "</p>";

          return markdown;
        }
      },
    };
    const Demo = {
      template: `
    <div class="p-2">
      <div class="p-2 mb-2 breadcrumbs flex gap-2">
        <router-link to="/" class="text-blue-500">Back to Home</router-link> >
        <!-- Gunakan binding dinamis pada atribut 'to' -->
        <router-link :to="'/project/' + projectId" class="text-blue-500">Source</router-link>
      </div>
      <!-- Iframe berada di dalam container yang sama -->
      <iframe :src="'https://dupandes2000.github.io/my-projects/' + projectId" frameborder="0" class="w-full h-screen"></iframe>
    </div>
  `,
      data() {
        return {
          loading: true,
          projectContent: '',
          projectId: '',
        };
      },
      created() {
        // Mengambil parameter 'id' dari route dan menyimpannya di data projectId
        this.projectId = this.$route.params.id;
      },
    };


    const routes = [
      { path: '/', component: Home },
      { path: '/about', component: About },
      { path: '/roadmap', component: Roadmap },
      { path: '/blog', component: Blog },
      { path: '/contact', component: Contact },
      { path: '/project/:id', name: 'project', component: Project },
      { path: '/demo/:id', name: 'demo', component: Demo }
    ];
    const router = new VueRouter({
      routes
    });
    new Vue({
      el: "#app",
      router,
      data() {
        return {
          coverPp:
            "https://i.pinimg.com/564x/94/6f/de/946fde6213aec69618591411d5840fd2.jpg",
          isMenuOpen: false,
          elementLoaded: false,
          currentText: "",
          typing: true
        };
      },
      computed: {
        isMobile() {
          return window.innerWidth <= 800;
        }
      },
      methods: {
        onLoad() {
          this.elementLoaded = true;
        },
        toggleMenu() {
          this.isMenuOpen = !this.isMenuOpen;
        },
        toggleMenuList() {
          if (this.isMobile) {
            this.isMenuOpen = !this.isMenuOpen;
          }
        },
        typeAnimation() {
          const texts = [
            "Dupandes Milenium.",
            "JavaScript Developer.",
            "Website Development."
          ];
          let idx = 0;
          let charIdx = 0;

          const type = () => {
            const delay = this.typing ? 150 : 100; // Delay for typing or backspacing
            this.currentText = texts[idx].substring(0, charIdx); // Update text
            charIdx += this.typing ? 1 : -1;

            if (charIdx === texts[idx].length) {
              this.typing = false; // Stop typing when finished
            } else if (charIdx < 0) {
              this.typing = true;
              idx = (idx + 1) % texts.length; // Cycle through texts
            }

            setTimeout(type, charIdx === texts[idx].length ? 2000 : delay); // Pause between texts
          };

          type();
        },
        beforeLeave(el) {
          el.classList.add("slide-out");
        },
        leave(el, done) {
          el.addEventListener("animationend", done);
        },
      },
      mounted() {
        document.addEventListener('contextmenu', event => event.preventDefault()); // Anti klik kanan
        document.addEventListener('keydown', event => {
          if (
            event.ctrlKey &&
            (event.key === 'u' || event.key === 'U' || event.key === 'i' || event.key === 'I' || event.key === 's' || event.key === 'S')
          ) {
            event.preventDefault();
          }
          if (event.key === 'F12' || (event.ctrlKey && event.shiftKey && event.key === 'I')) {
            event.preventDefault();
          }
        });
        if (window.matchMedia("(min-width: 900px)").matches) {
          this.toggleMenu();
        }
        this.typeAnimation();
      }
    });

  </script>

  <script async src="https://public.codepenassets.com/embed/index.js"></script>
</body>

</html>
