/* ROOT */
:root {
  --hover-color: #05bd70e5;
  --main-background: rgba(212, 212, 223, 0.418);
  --main-color: #05bd70e5;
  --main-color-bg: #10a573cb;
}

/* GLOBAL CSS */
header {
  width: 16rem;

  @media (max-width: 760px) {
    width: 100%;
  }

  .container {
    margin-top: 56px;
    width: 16rem !important;

    @media (max-width: 760px) {
      margin-top: 0;
    }
  }

  h2 {
    margin-top: 12px;

    @media (max-width: 760px) {
      opacity: 1;
      margin-top: 0;
    }
  }

  >div {
    flex-direction: column;
  }

  .profile {
    width: 86px;
    display: block;
    margin: 18px 41px 9px;

    @media (max-width: 760px) {
      border: 2px solid #fff;
      margin: 56px 0;
      width: 75px;
    }
  }

  @media (max-width: 760px) {
    .container-hiro {
      position: absolute;
      top: 38px;
      width: 96%;

    }

    .mobile {
      width: 100%;
    }

    .mobile-33 {
      height: 33px;
    }

    .w-full-mx760 {
      width: 100% !important;
    }

  }
}

h1:hover {
  color: var(--hover-color);
}


h2.loaded {
  opacity: 1;
}


nav {
  transition: width 0.3s ease;
  height: 100vh;
  top: 153px !important;

  @media (max-width: 760px) {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100vh;

    ul {
      margin-top: 132px;
    }
  }

  li,
  h1,
  h2 {
    transition: all 0.3s ease-in-out;
  }

  li:hover {
    background: var(--main-background);
    color: var(--main-color-bg);
    border-radius: 10px;
  }

}

/* ANIMATION IMAGES */
.blur {
  filter: blur(6px);
  transition: all 0.5s ease-in-out;
}

img.loaded {
  opacity: 1;
  filter: blur(0px);
}

/* ANIMATION PAGE IN */
.home-enter-active,
.home-leave-active {
  transition: opacity 0.5s ease;
}

/* ANIMATION ELEMENT IN */
.home-enter {
  opacity: 0;
}

/* ANIMATION ELEMENT OUT */
.home-leave-to {
  opacity: 0;
}

.slide-in {
  animation: slideIn 0.3s ease forwards;
  transform: translateX(-100%);
}

.slide-out {
  animation: slideOut 0.3s ease forwards;
  transform: translateX(0);
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  to {
    transform: translateX(-100%);
  }
}

footer {
  h6 {
    float: right;
    margin: 18px;
    font-size: 9pt;

    @media (max-width: 760px) {
      float: none;
      text-align: center;
      font-size: 9pt;
    }
  }
}

iframe {
  width: 100%;
  height: 100vh;
}

/* LOADING */
.loader {
  overflow: hidden;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;

  .element {
    border-radius: 100%;
    border: 5px solid var(--main-color-bg);
    margin: calc(5px * 2);
  }

  .element:nth-child(1) {
    animation: preloader 0.6s ease-in-out alternate infinite;
  }

  .element:nth-child(2) {
    animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
  }

  .element:nth-child(3) {
    animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
  }

}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}

#app {
  min-height: fit-content;

  @media (min-width: 900px) {
    display: flex;
    justify-content: space-between;
  }

  #typewriter {
    color: var(--main-color);
  }

  /* ANIMATION TYPEWRITER */
  .cursor {
    border-left: 2px solid rgb(0, 0, 0);
    animation: blink 0.7s infinite;
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

}

/* HOME CSS */
.home {
  input {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  input:focus {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      var(--hover-color) 0px 0px 0px 1px
  }

  .card-projects>div {
    border-radius: 10px;
    border-top-right-radius: 0.75rem;
    ;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .card-projects>div:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

    @media (min-width: 900px) {
      width: 42%;
    }

  }
}

/* ROADMAP CSS */
.roadmap {
  svg {
    width: 25px;
    height: 25px;
  }

  .dropdown {
    background-color: oklch(0.97 0 0 / 0.08);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  /* Make the dropdown animate. */
  .dropdown-content {
    min-width: max-content;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
  }

  /* The max-height should be set to something that will always be a little bit bigger than the height of the content. */
  .dropdown-open {
    max-height: 200px;
  }
}

/* CONTACT CSS */
.contact {
  .form-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    max-width: 606px;
    width: 100%;
    margin: auto;

    @media (max-width: 768px) {
      width: 97%;
    }

  }

  form {
    padding: 15px 50px;

    .form-group {
      margin-bottom: 35px;

      label {
        display: block;
        color: lighten(#151534, 60%);
        font-size: 1.2rem;
      }

      input {
        max-width: 418px;
        width: 100%;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid var(--hover-color);
        outline: none;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        color: #151534;
      }

      textarea {
        border: 2px solid var(--hover-color);
        padding: 10px;
        border-radius: 10px;
        max-width: 476px;
        width: 100%;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: #151534;
        outline: none;
      }
    }

    .submit-button {
      cursor: pointer;
      background-color: #151534;
      border: none;
      color: #fff;
      padding: 10px 20px;
      font-family: "Merriweather", serif;
      font-weight: 700;
      font-size: 13px;
      border-radius: 2px;
      transition: 0.3s ease;

      &:hover {
        background-color: lighten(#151534, 10%);
      }
    }
  }
}


/* PROJECT CSS */
.project {
  .breadcrumbs {
    font-size: 10pt;
    color: #666;
    background: #ffffff;
    border: 1px solid #e5e5e5;

    @media (max-width: 760px) {
      flex-wrap: wrap;
    }
  }

  .project-button {
    border: #00000026 1px solid;
    border-radius: 3px;

    @media (max-width: 760px) {
      flex-wrap: wrap;
    }
  }

  .active-tab {
    background: #f3f2f2;
    border-radius: 3px;
    border: #00000026 1px solid;
    font-weight: bold;
  }

  .project-content {
    transition: opacity 2s ease;
    opacity: 0;
    display: none;
  }

  .project-content.active {
    opacity: 1;
    display: block;
  }

  article {
    h1 {
      font-size: clamp(2rem, 5vw, 3rem);
    }

    h2 {
      font-size: clamp(1.75rem, 4.5vw, 2.5rem);
    }

    h3 {
      font-size: clamp(1.5rem, 4vw, 2rem);
    }

    h4 {
      font-size: clamp(1.25rem, 3.5vw, 1.75rem);
    }

    h5 {
      font-size: clamp(1rem, 3vw, 1.5rem);
    }

    h6 {
      font-size: clamp(0.875rem, 2.5vw, 1.25rem);
    }

    ul {
      list-style-type: lower-roman;
    }

    ol {
      list-style-type: decimal;
    }
    code span {
      max-width: 5em !important;
    }
  }
}

@media (max-width: 760px) {

  .main {
    display: none;
  }

}
